.jumbotron{
	background: url("../Pictures/JumboTronBackGrounds/Untitled-1.png") no-repeat center center;
	background-size: 100% 100%;
	width: 100%;
	height: 800px;
	text-align: center;
	vertical-align: center;
	background-size: cover;
	padding-top: 25%;
	color: ffffff;
}

h1{
	color:506a85;
	font-weight: bold;
}
p{
	color:a3b1bf;
}

.owlcarousel{
	display: inline-block;
}
.my-btn {
  	border: 10px, 10px, 10px, 10px;
  	color: white;
 	background-color: 00bc9c;
 	border-radius: 5px;
 	background-size: 50px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 20px;
 	padding-right: 20px;
}
*{
font-family:arial;

  }
#N{
	padding-left:140px; 
	padding-right:140px;
}
.GM{
	background-color: white;
	background-size: 100px, 100px, 100px, 100px;
	padding-top: 20px;
	padding-bottom:20px;
	font-weight: bold;
	font-size: 20px;
	border-color: lightgray;
	border-style: solid;
	border-width: 1px;

}


#BeClRe{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#icon-three{
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#bigpart{
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	background-color: f2f5f7;
}
#work{
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#footerone{
	background-color:2f4052;
}

h4{
	color: white;
}
#footertwo{
	background-color:283645;
}


























